.page3__slider
	position: absolute
	right: 97px
	bottom: 159px
.page3__slider-buttonNext
.page3__slider-buttonBack
.page3__sliser-box
	position: 
.page3__slider-item
	width: 532px
	height: 390px
	background: url(../img/page3-layer.jpg) no-repeat 
	background-size: cover
	display: none

.page3__slider-indicator1
	background-color: $fonPinc
	height: 10px
	width: 10px
	z-index: 1
	margin: 20px
.page3__slider-indicator2
.page3__slider-indicator3

.page3__slider-item_active
	display: inline-block
.page3__slider-indicator_active 
	