.page6__header
	margin-top: -164px
	text-align: center
	position: relative
	//width: 800px
	height: 100px
.page6__header-arrowBack
.page6__header-arrowNext
.page6__header-img
	//position: absolute
	display: inline-block
	margin: 0 40px

	img 
		width: 200px
		height: 50px
