.page6__header
	position: absolute
	text-align: center
	width: 1310px
	height: 163px
	top: 0px
	left: 0px
.page6__header-arrowBack
.page6__header-arrowNext
.page6__header-img
	display: inline-block
	width: 327.5px
	img 
		width: 240px
		height: 50px
