.button {
	position: absolute;
	background-color: $colorPink;
	color: #fff;
	text-align: center;
	padding: 23px 0 25px;
	letter-spacing: 3px;
	font-family: $textFont;
	font-size: 19.3pt;
	width: 235px;
}
