.button {
	position: absolute;
	background-color: $colorPink;
	color: #fff;
	text-align: center;
	padding: 20px 0 22px;
	letter-spacing: 1.7px;
	font-family: $textFont;
	font-size: 19pt;
	width: 235px;
}