.page3__button
	position: absolute
	top: 0px
	left: 0px
	background-color: $colorPink
	color: #fff
	font-size: 14pt
	padding: 10px 20px

// .page3__button:hover
// 	border: 1px solid $colorPink
// 	color: $colorPink
// 	background-color: #fff