.whatwedo {
	height: 1024px;
	padding-bottom: 40px
}
.whatwedo .title {
	margin: 218px 0 100px;
}

.whatwedo__text {
	font-size: 16pt;
}
.whatwedo__rhomb {}

.rhomb {}

.rhomb__title {}
.rhomb__text {}