.page10__box
	text-align: center
	margin-left: 0px
	padding: 0px
.page10__item
	display: inline-block
	background-color: #fff
	width: 345px
	height: 478px
	margin: 0 11px
	padding: 0
.page10__item-title
	font-size: 19pt
	margin-top: 36px
.page10__item-price
	margin-top: 30px
	font-size: 38pt
.page10__item-text
	font-size: 15pt
	margin-top: 38px
.page10__item-text p
	margin: auto
	border-bottom: 1px solid #737373
	width: 278px
	height: 36px
.page10__item-button 