/* _logo.sass */
.logo
	// position: absolute

	font-size: 30pt
	color: #fff

.logo__one

.logo__two
	color: $colorPink

.logo__three
	
.logo__four
	
	display: inline-block
	background-color: $colorPink
	width: 12px
	height: 12px
	
	border-radius: 50%