/* --- base ------------------------------------------------------ */
$colorPink: #e13c98

body, .main
	margin: 0px
	padding: 0px

.main
	min-width: 1600px
	margin: auto
	
._href
	text-decoration: none
.wrap
	position: relative
	margin: auto
	padding: 0px
	width: 1600px
//[hidden] { display: none; }
/* --- page-1.html ----------------------------------------------- */
@import page-1/page-1
@import page-1/__logo/logo
@import page-1/__nav/nav 
@import page-1/__menu/menu 
@import page-1/__social/social
@import page-1/__nextPages/nextPages

