/* --- base ------------------------------------------------------ */
@import font

$colorPink: #e13c98
$textFont: HomisioNova

body, .main
	margin: 0px
	padding: 0px

.main
	min-width: 1600px
	margin: auto

.g-wrap
	position: relative
	margin-left: auto
	margin-right: auto
	padding: 0px
	width: 1280px
	border-left: 1px dashed red
	border-right: 1px dashed red

.g-rhomb
	// position: absolute
	text-decoration: none
	background-size: cover
	overflow: hidden
	transform: rotate(-45deg)

.g-textPinc
	color: $colorPink
.g-textWhite
	color: #fff
.g-fonPinc
	background-color: $colorPink

	height: 100;


=title()
	color: #737373
	text-align: center
	font-size: 31pt
	font-family: $textFont
	letter-spacing: -0.5px
=button()
	position: absolute
	background-color: $colorPink
	color: #fff
	text-align: center
	padding: 20px 5px 22px 5px
	letter-spacing: 1.7px
	font-family: $textFont
	font-size: 19pt

=rhomb()
	width: 70px
	height: 70px
	position: absolute
	background-size: cover
	overflow: hidden
	transform: rotate(-45deg)

/* --- page-1.html ----------------------------------------------- */
@import page-1/page-1
@import page-1/__logo/logo
@import page-1/__nav/nav 
@import page-1/__menu/menu 
@import page-1/__social/social
@import page-1/__nextPages/nextPages
/* --- page-2.html ----------------------------------------------- */
@import page-2/page-2
@import page-2/__title/title
@import page-2/__content/content
@import page-2/__rhomb/rhomb
/* --- page3.html ------------------------------------------------ */
@import page3/page3
@import page3/__button/page3__button
@import page3/__content/page3__content
@import page3/__slider/page3__slider
@import page3/__title/page3__title
/* --- page4.html ------------------------------------------------ */
@import page4/page4
@import page4/__content/page4__content
@import page4/__title/page4__title
/* --- page5.html ------------------------------------------------ */
@import page5/page5
@import page5/__content/page5__content
@import page5/__pictures/page5__pictures
@import page5/__button/page5__button
/* --- page6.html ------------------------------------------------ */
@import page6/page6
@import page6/__header/page6__header
@import page6/__title/page6__title
@import page6/__box/page6__box
/* --- page7.html ------------------------------------------------ */
@import page7/page7
@import page7/__title/page7__title
@import page7/__box-item/page7__box-item
@import page7/__button/page7__button
/* --- page8.html ------------------------------------------------ */
@import page8/page8
@import page8/__title/page8__title
@import page8/__box-item/page8__box-item
@import page8/__box-item/__item-circle/page8__item-circle
@import page8/__box-item/__item-title/page8__item-title
