.aboutus {
  height: 1026px;
  background-color: #eee;
}
.aboutus__title {
  padding-top: 118px;
  padding: 118px 0 70px;
}
.aboutus__line-head {
  line-height: 1.9;
  font-size: 17pt;
  text-align: center;
  padding: 0 10px 64px;
  word-spacing: 1px;
  letter-spacing: 1.3px;
}
.aboutus__line {
  padding: 0 96px;
  color: #737373;
  letter-spacing: 1px;
}
.aboutus__line {}
.aboutus__btn {}
.aboutus__slider {}
.slider {}
.slider__list {}
.slider__list-item {}
.slider__list-item slider__list-item_active {}
.slider__list-item {}
.slider__btn {}
.slider__btn-back {}
.slider__btn-next {}
.slider__indic {}
.slider__indic-dot {}
.slider__indic-dot slider__indic-dot_active {}
.slider__indic-dot {}