.aboutus {
  height: 1026px;
  background-color: #eee;
}
.aboutus__title {
  padding: 118px 0 70px;
}
.aboutus__row-head {
  line-height: 1.9;
  font-size: 17pt;
  text-align: center;
  padding: 0 10px 70px;
  word-spacing: 1px;
  letter-spacing: 1.3px;
}
.aboutus__line {
	color: #737373;
  font-size: 17pt;
  padding-bottom: 44px;
  letter-spacing: 1.4px;
  line-height: 2;
}
.aboutus__row {
  width: 605px;
  float: left;
}
.aboutus__row .aboutus__line:nth-child(2){
  padding-bottom: 56px;
}
.aboutus__btn {}


.aboutus__slider {
  padding: 14px 0 0 11px;
}
.slider {
  position: relative;
}
.slider__list {
  width: 594px;
  height: 434px;

}
.slider__list-item {
  display: none;
}
.slider__list-item_active {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.slider__list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: relative;
}
.slider__btn-back {
  position: absolute;

}
.slider__btn-next {
  position: absolute;
}
.slider__indic {}
.slider__indic-dot {}
.slider__indic-dot slider__indic-dot_active {}
.slider__indic-dot {}
