.nav
.nav__list
	margin: 145px 0px 0px 498px

.nav__rhomb
	text-decoration: none
	border: 1px solid #fff
	margin-left: 55px
	margin: 0 0 10 55px
	width: 140px
	height: 140px
	display: inline-block
	transform: rotate(45deg)
	background-size: cover
	overflow: hidden

.nav__item
	text-align: center
	width: 290px
	height: 290px
	display: inline-block
	transform: rotate(-45deg)
	// margin-top: 25px
	font-size: 25pt

.nav__list_img
    width: 152%
    height: 110%
    margin: -48px 0px 0 -59px

.nav__list_ico
	
	color: #fff

.nav__list_title
	font-size: 14pt
	color: #fff
	display: block
._noFloat
	display: inline-grid